<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>iSounds News</string>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News &amp; updates</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2013-01-18T14:55:25Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>A9D85BDD-5C6E-40DF-B097-89ABA2B5E0EC</string>
					<key>PageDigests</key>
					<dict>
						<key>files/0ace20419481ea9012d53d1fc4f9316e-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							6+31EHn2UkEzcGN+mbjv
							Gw==
							</data>
							<key>Size</key>
							<integer>4634</integer>
						</dict>
						<key>files/0f5a8a722a25e5a22628eeabe1bca9ef-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							8MCbUKdKPJvIV2wdWaN9
							0w==
							</data>
							<key>Size</key>
							<integer>5339</integer>
						</dict>
						<key>files/1f0137987e39b241a8cda5ff6dc21643-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							C0ZhiBarR9sjGW9pMiGw
							Cg==
							</data>
							<key>Size</key>
							<integer>4769</integer>
						</dict>
						<key>files/4e5513da5eb95191039906625eef19e9-5.html</key>
						<dict>
							<key>Digest</key>
							<data>
							O2QY0jjRwHDgvBCqMTcE
							ug==
							</data>
							<key>Size</key>
							<integer>4521</integer>
						</dict>
						<key>files/7581261e589cf10f4a77009ceef3bd10-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							uYLbNLZNHSPCDZUliFSH
							Qw==
							</data>
							<key>Size</key>
							<integer>4590</integer>
						</dict>
						<key>files/archive-dec-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							NHQhT4/43AhJol4fudYB
							Rg==
							</data>
							<key>Size</key>
							<integer>5076</integer>
						</dict>
						<key>files/archive-feb-2012.html</key>
						<dict>
							<key>Digest</key>
							<data>
							9wx3eVYbjzltFNzg3TXU
							eg==
							</data>
							<key>Size</key>
							<integer>5286</integer>
						</dict>
						<key>files/archive-jan-2013.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Qy0dXbla/hkEQslORwK7
							vA==
							</data>
							<key>Size</key>
							<integer>4951</integer>
						</dict>
						<key>files/archive-nov-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Aw5K87GWuqy8oRoXPqfc
							mg==
							</data>
							<key>Size</key>
							<integer>5504</integer>
						</dict>
						<key>files/f088a1db3ac60ca79b24769f76973a79-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							vuzffm/Ytg3Ug0uwRkZ4
							FA==
							</data>
							<key>Size</key>
							<integer>4732</integer>
						</dict>
						<key>files/feed.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							IGO6+EkU1O0LkrlGJn2H
							JQ==
							</data>
							<key>Size</key>
							<integer>4523</integer>
						</dict>
						<key>files/pasted-graphic.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JF2Ec8iYCzCNvWSVDfy7
							Ww==
							</data>
							<key>Size</key>
							<integer>48432</integer>
						</dict>
						<key>page1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							jeidGAzqOb1Sszwy3pDX
							tA==
							</data>
							<key>Size</key>
							<integer>6386</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page1</string>
					<key>SiteRoot</key>
					<string>blog</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
